body {
    margin: 0px;
}

/* top section */
.text-block {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 600px;
}

.heading-line {
    text-align: left;
    font-size: 60px;
}

.sub-heading {
    font-size: 20px;
}

.button {
    display: inline-block;
    text-decoration: none;
    background-color: rgba(255, 166, 0, 1);
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 40px;
}

.button:visited {
    color: rgb(255, 255, 255);
}

/* Section 2 */

.half-donate-section {
    max-width: 1280px;
    margin: auto;
    padding: 0 20%;
    text-align: center;
    font-size: medium;
}